header {
	width: 100%;
	height: 8%;
	background: $AzulRey;
	margin-bottom: 5px;
	box-shadow: 0 0 20px 1px $GrisClaro;
	.cabecera_busqueda {
		padding: 0 10px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		.input_icono {
			height: 100%;
			// width: 50%; cuando sean las 3 opciones el ancho sera de 50
			width: 70%;
			position: relative;
			display: flex;
			justify-content: start;
			align-items: center;
			i {
				position: absolute;
				color: $BlancoClaro;
				// font-size: calc (26px+ 1vw);
				font-size: calc(16px + 6 * ((100vw - 320px) / 680));
			}
			input {
				position: relative;
				padding: 0 28px;
				color: $BlancoClaro;
				height: 85%;
				width: 50%;
				background: none;
				border: none;
				font-weight: 500;
				border-bottom: 2.5px solid $BlancoClaro;
				transition: all ease 0.5s;
				&::placeholder {
					color: $BlancoOpaco;
				}
				&:focus {
					border: none;

					border-bottom: 2.5px solid $BlancoClaro;
					width: 100%;
				}
			}
		}
		ul {
			height: 100%;
			// width: 50%; cuando sean los 3 botones, si mediran 50%
			width: 30%;
			list-style: none;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			li {
				// width: 32%; cuando sean los 3 botones si mediran 32%
					width: 100%;
				height: 100%;
				.boton_link {
					$min_width: 320px;
					$max_width: 1400px;
					$min_font: 10px;
					$max_font: 16px;

					@include fluid-type($min_width, $max_width, $min_font, $max_font);

					word-wrap: break-word;
					width: 100%;
					height: 92%;
					background: none;
					border: none;
					color: $BlancoClaro;
					border-bottom: 2.5px solid $AzulRey;
					transition: all ease 0.3s;
					
					&:hover {
						border-bottom: 2.5px solid $BlancoClaro;
						cursor: pointer;
					}
				}
			}
		}
	}
}
// @media screen and (min-width: 320px) {

@media screen and (max-width: 1000px) {
	header .cabecera_busqueda {
		.input_icono {
			width: 70%;

			input {
				width: 80%;
			}
		}
		ul {
			width: 30%;
			li {
				width: 100%;
				word-wrap: break-word;
			}
		}
	}
}
