header {
	width: 100%;
	height: 8%;
	background: $AzulRey;
	margin-bottom: 5px;
	box-shadow: 0 0 20px 1px $GrisClaro;
	.cabecera_busqueda {
		padding: 0 10px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		.input_icono {
			height: 100%;
			width: 50%;
			position: relative;
			display: flex;
			justify-content: start;
			align-items: center;
			i{
				position: absolute;
				color: $BlancoClaro;
				font-size: 26px;
			}
			input {
				position: relative;
				padding: 0 28px;
				color: $BlancoClaro;
				height: 85%;
				width: 50%;
				background: none;
				border: none;
				font-weight: 500;
				border-bottom: 2.5px solid $BlancoClaro;
				transition: all ease .5s;
				&::placeholder{
					color: $BlancoOpaco;
				}
				&:focus  {
					border: none;
					
					border-bottom: 2.5px solid $BlancoClaro;
					width: 100%;
				}
			}
		}
		ul {
			height: 100%;
			width: 50%;
			list-style: none;
			display: flex;
			flex-direction: row;

			li {
				width: 33%;

				.boton_link {
					width: 100%;
					height: 92%;
					background: none;
					border: none;
					color: $BlancoClaro;	
					border-bottom: 2.5px solid $AzulRey;
					transition: all ease .3s;
					&:hover{
						border-bottom: 2.5px solid $BlancoClaro;
						cursor: pointer;
					}
				}
			}
		}
	}
}
