main {
	width: 100%;
	height: 91%;
	background: $BlancoOpaco;
	$min_width: 320px;
	$max_width: 1400px;
	$min_font: 10px;
	$max_font: 16px;

	.contenedor_usuarios {
		width: 100%;
		height: 100%;
		display: flex;
		overflow: hidden;

		flex-direction: column;
		background: $BlancoOpaco;
		.table_titulos {
			box-shadow: 0px 5px 15px -12px $GrisOscuro;
			width: 100%;
			height: 14%;
			display: flex;
			flex-direction: column;
			margin-bottom: 12px;

			.titulos_cabecera {
				padding: 4px 0;
				width: 100%;
				height: 60%;
				position: relative;
				display: flex;
				justify-content: space-between;

				&::before {
					content: '';
					position: absolute;
					bottom: 0%;
					width: 95%;
					height: 1px;
					background: rgba(49, 49, 49, 0.514);
				}
				th {
					@include fluid-type($min_width, $max_width, $min_font, $max_font);
					width: 12%;
					height: 100%;
					border-collapse: collapse;
					font-weight: 500;
					padding: 0 5px;
					line-height: 100%;
					flex: 1 1 auto;
					.reducido {
						font-weight: 400;
					}
				}
				.sexo {
					width: 5%;
				}
			}
			.mas_opciones {
				width: 100%;
				height: 40%;
				display: flex;
				align-items: center;
				justify-content: space-around;

				th {
					@include fluid-type($min_width, $max_width, $min_font, $max_font);

					font-weight: 400;
					// color: $GrisOscuro;
				}
				.mini {
					font-weight: 300;
					// font-size: 14px;
					@include fluid-type($min_width, $max_width, $min_font, $max_font);
					color: $GrisClaro;
				}
			}
		}

		.table_body {
			background: $BlancoOpaco;
			border-collapse: collapse;
			height: 86%;
			overflow-y: auto;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			// align-items: flex-start;
			flex-direction: column;
			.contenedor_informacion_usuario {
				box-shadow: 0px 5px 15px -14px $GrisOscuro;
				border-radius: 12px;
				display: flex;
				justify-content: space-between;
				height: 14%;
				margin: 6px 0;
				overflow: hidden;
				width: 100%;
				// justify-content: space-between;
				.campo_informacion {
					text-align: center;
					flex: 1 1 auto;
					height: 100%;
					overflow: auto;
					width: 12%;
					line-height: 100%;
					color: $GrisOscuro;
					@include fluid-type($min_width, $max_width, $min_font, $max_font);
				}
				.sexo {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 5%;
					height: 100%;
					i {
						@include fluid-type($min_width, $max_width, 24px, 50px);

						overflow: hidden;
						color: $GrisClaro;
					}
				}

				.ubicacion a {
					text-decoration: none;
					color: $AzulRey;
					font-weight: 500;
					&:hover {
						text-decoration: underline;
					}
				}

				.campo_iconos {
					align-items: center;
					justify-content: space-evenly;
					i {
						@include fluid-type($min_width, $max_width, 18px, 24px);
					}
				}
			}
		}
	}
}

@media screen and(max-width: 800px) {
	.contenedor_usuarios .ipad {
		display: none;
	}

	.contenedor_usuarios .table_titulos .titulos_cabecera th {
		width: 16%;
	}

	.contenedor_usuarios.table_body
		.contenedor_informacion_usuario
		.campo_informacion {
		width: 16%;
	}
}

@media screen and(max-width: 500px) {
	.contenedor_usuarios .celular {
		display: none;
	}

	.contenedor_usuarios .table_titulos .titulos_cabecera th {
		width: 16%;
	}

	.contenedor_usuarios.table_body
		.contenedor_informacion_usuario
		.campo_informacion {
		width: 16%;
	}
}
