.RegistroUsuario {
	transition: all ease 0.8s;
	position: absolute;
	transform: translateY(-100%);
	z-index: 10;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.95);
	// filter: blur(20px) ;
	.cerrar {
		position: absolute;
		top: 15px;
		background: $GrisClaro;
		font-size: 34px;
		border-radius: 50%;
		color: $BlancoClaro;
		&:hover {
			cursor: pointer;
			background: $Rojo;
		}
	}
	.camposRegistro {
		width: 70%;
		height: 80%;

		// border: 3px solid #1348d8; //TODO: Quitar este borde, es unicamente para marcar un area
		padding: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		background: $BlancoOpaco;
		.icono_campo {
			display: flex;
			position: relative;
			margin-bottom: 15px;
			height: 10%;
			width: 100%;
			align-items: center;

			i {
				position: absolute;
				left: 5px;
				color: $GrisClaro;
				font-size: 30px;
			}
			textarea {
				padding-left: 2.45em;
				font-size: 16px;
				height: 125%;
				width: 100%;
				max-width: 100%;
				min-width: 100%;
				max-height: 125%;
				min-height: 125%;
			}
		}
		.boton_link{
			width: 25%;
			height: 100%;
		}

		.area_campo {
			display: flex;
			align-items: flex-start;
		}
		.icono_campo_medio {
			width: 50%;
		}

		.campo_sexo {
			width: 100%;
			display: flex;
			i {
				margin-right: 6px;
			}
			input {
				margin-right: 20px;
			}
		}

		.campo_botones {
			height: 10%;
			// border: 3px solid #f31a16; //TODO: Quitar este borde, es unicamente para marcar un area
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			input {
				width: 20%;
			}
		}
	}
}

.expand {
	transform: translateY(0%);
}

.swal-button {
	// padding: 7px 19px;
	// border-radius: 2px;
	background-color: $Rojo;
	color: $BlancoClaro;
	// font-size: 12px;
	// border: 1px solid #3e549a;
	// text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
	&:hover{
		background-color: $Rojo;
		color: $BlancoClaro;
	}
}
