.boton {
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: 500;
	border-radius: 2px;
	border: none;
	&:hover {
		cursor: pointer;
		text-decoration-line: underline;
		// filter: brightness(1.05);
	}
}

.hover_link:hover {
	cursor: pointer;
	text-decoration: underline;
}
.btn-azul {
	color: $BlancoClaro;
	background: $AzulRey;
}
.btn-verde {
	color: $BlancoClaro;
	background: $Verde;
}
.btn-rojo {
	color: $BlancoClaro;
	background: $Rojo;
}
.btn-blanco {
	color: $GrisOscuro;
	background: $BlancoClaro;
	border: 1px dotted $GrisClaro;
}


.unavailable {
	opacity: 50%;
	filter: brightness(0.5);
	&:hover {
		cursor: auto;
		text-decoration-line: none;
	}
}

.casilla_azul {
	background: $AzulClaro;
}
.casilla_rosa {
	background: $RosaClaro;
}
.campo_completo {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: 1px solid $GrisOscuro;
	font-size: 18px;
	color: $GrisClaro;
	padding-left: 2.2em;
}

.texto-azul {
	color: $AzulRey;
	font-weight: 500;
}

.casilla_gris {
	background: #7070704b;
}
.casilla_blanca {
	background: $BlancoClaro;
}

.icono_pulsable:hover {
	transition: all ease 0.25s;
	// transform: scale(1.12);
	cursor: pointer;
}

.oculto {
	display: none;
}

.color_azul {
	color: $AzulRey;
}
.color_rojo {
	color: $Rojo;
}
.color_verde {
	color: $Verde;
}
.color_Amarillo {
	color: $Amarillo;
}
