.boton {
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: 500;
	border-radius: 2px;
	border: none;
	&:hover {
		cursor: pointer;
		text-decoration-line: underline;
		// filter: brightness(1.05);
	}
}
.btn-azul {
	color: $BlancoClaro;
	background: $AzulRey;
}
.btn-verde {
	color: $BlancoClaro;
	background: $Verde;
}
.btn-rojo {
	color: $BlancoClaro;
	background: $Rojo;
}
.btn-blanco {
	color: $GrisOscuro;
	background: $BlancoClaro;
	border: 1px solid $GrisClaro;
}

.unavailable {
	opacity: 50%;
	filter: brightness(.5);
	&:hover {
		cursor: auto;
		text-decoration-line: none;
	}
}

.casila_azul {
	background: $AzulClaro;
}
.casila_rosa {
	background: $RosaClaro;
}
.campo_completo {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: 1px solid $GrisOscuro;
	font-size: 18px;
	color: $GrisClaro;
	padding-left: 2.2em;
}
