.boton{
    width: 100%;
    height: 100%;
    font-size: 14px;
}
.btn-azul{
    color: $BlancoClaro;
    background: $AzulRey;
    border: none;
    font-weight: 500;
    border-radius:  2px;
    
    &:hover{
        
        cursor: pointer;
        text-decoration-line: underline;
    }
}


.unavailable{
    opacity: 50%;
    &:hover{
        cursor: auto;
        text-decoration-line: none;  
    }
}