.boton {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  border: none;
}

.boton:hover {
  cursor: pointer;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.hover_link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.btn-azul {
  color: #fefefe;
  background: #4285f4;
}

.btn-verde {
  color: #fefefe;
  background: #0f9d58;
}

.btn-rojo {
  color: #fefefe;
  background: #db4437;
}

.btn-blanco {
  color: #1c2022;
  background: #fefefe;
  border: 1px dotted #343438;
}

.btn-amarillo {
  color: #fefefe;
  background: #f4b400;
}

.unavailable {
  opacity: 50%;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.unavailable:hover {
  cursor: auto;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.casilla_azul {
  background: #b2d6ef;
}

.casilla_rosa {
  background: #f9d2de;
}

.campo_completo {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #1c2022;
  font-size: 18px;
  color: #343438;
  padding-left: 2.2em;
}

.texto-azul {
  color: #4285f4;
  font-weight: 500;
}

.casilla_gris {
  background: #7070704b;
}

.casilla_blanca {
  background: #fefefe;
}

.icono_pulsable:hover {
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
  cursor: pointer;
}

.oculto {
  display: none;
}

.color_azul {
  color: #4285f4;
}

.color_rojo {
  color: #db4437;
}

.color_verde {
  color: #0f9d58;
}

.color_Amarillo {
  color: #f4b400;
}

header {
  width: 100%;
  height: 8%;
  background: #4285f4;
  margin-bottom: 5px;
  -webkit-box-shadow: 0 0 20px 1px #343438;
          box-shadow: 0 0 20px 1px #343438;
}

header .cabecera_busqueda {
  padding: 0 10px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .cabecera_busqueda .input_icono {
  height: 100%;
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .cabecera_busqueda .input_icono i {
  position: absolute;
  color: #fefefe;
  font-size: 26px;
}

header .cabecera_busqueda .input_icono input {
  position: relative;
  padding: 0 28px;
  color: #fefefe;
  height: 85%;
  width: 50%;
  background: none;
  border: none;
  font-weight: 500;
  border-bottom: 2.5px solid #fefefe;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

header .cabecera_busqueda .input_icono input:focus {
  border: none;
  border-bottom: 2.5px solid #fefefe;
  width: 100%;
}

header .cabecera_busqueda ul {
  height: 100%;
  width: 50%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .cabecera_busqueda ul li {
  width: 33%;
}

header .cabecera_busqueda ul li .boton_link {
  width: 100%;
  height: 92%;
  background: none;
  border: none;
  color: #fefefe;
  border-bottom: 2.5px solid #4285f4;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

header .cabecera_busqueda ul li .boton_link:hover {
  border-bottom: 2.5px solid #fefefe;
  cursor: pointer;
}

main {
  width: 100%;
  height: 91%;
  background: #f1f1f1;
}

main .contenedor_usuarios {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f1f1f1;
}

main .contenedor_usuarios .table_titulos {
  -webkit-box-shadow: 0px 5px 15px -8px #1c2022;
          box-shadow: 0px 5px 15px -8px #1c2022;
  width: 100%;
  height: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 12px;
}

main .contenedor_usuarios .table_titulos .titulos_cabecera {
  padding: 4px 0;
  width: 100%;
  height: 60%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .contenedor_usuarios .table_titulos .titulos_cabecera::before {
  content: '';
  position: absolute;
  bottom: 0%;
  width: 95%;
  height: 1px;
  background: rgba(49, 49, 49, 0.514);
}

main .contenedor_usuarios .table_titulos .titulos_cabecera th {
  width: 10%;
  height: 100%;
  border-collapse: collapse;
  font-weight: 500;
  padding: 0 5px;
  line-height: 100%;
}

main .contenedor_usuarios .table_titulos .titulos_cabecera th .reducido {
  font-weight: 400;
}

main .contenedor_usuarios .table_titulos .titulos_cabecera .sexo {
  width: 5%;
}

main .contenedor_usuarios .table_titulos .mas_opciones {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .contenedor_usuarios .table_titulos .mas_opciones th {
  font-weight: 400;
}

main .contenedor_usuarios .table_titulos .mas_opciones .mini {
  font-weight: 300;
  font-size: 14px;
  color: #343438;
}

main .contenedor_usuarios .table_body {
  background: #f1f1f1;
  border-collapse: collapse;
  height: 86%;
  overflow-y: auto;
  width: 100%;
}

main .contenedor_usuarios .table_body .contenedor_informacion_usuario {
  -webkit-box-shadow: 0px 5px 15px -8px #1c2022;
          box-shadow: 0px 5px 15px -8px #1c2022;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 14%;
  margin: 12px 0;
  overflow: hidden;
  width: 100%;
}

main .contenedor_usuarios .table_body .contenedor_informacion_usuario .campo_informacion {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 0;
  height: 100%;
  overflow: auto;
  width: 12%;
  text-align: center;
  line-height: 100%;
  color: #1c2022;
}

main .contenedor_usuarios .table_body .contenedor_informacion_usuario .sexo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5%;
}

main .contenedor_usuarios .table_body .contenedor_informacion_usuario .sexo i {
  font-size: 50px;
  overflow: hidden;
  color: #343438;
}

main .contenedor_usuarios .table_body .contenedor_informacion_usuario .ubicacion a {
  text-decoration: none;
  color: #4285f4;
  font-weight: 500;
}

main .contenedor_usuarios .table_body .contenedor_informacion_usuario .ubicacion a:hover {
  text-decoration: underline;
}

main .contenedor_usuarios .table_body .contenedor_informacion_usuario .campo_iconos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.RegistroUsuario {
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}

.RegistroUsuario .cerrar {
  position: absolute;
  top: 15px;
  background: #343438;
  font-size: 34px;
  border-radius: 50%;
  color: #fefefe;
}

.RegistroUsuario .cerrar:hover {
  cursor: pointer;
  background: #db4437;
}

.RegistroUsuario .camposRegistro {
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 20px -3px black;
          box-shadow: 2px 2px 20px -3px black;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
  padding: 10px;
  width: 70%;
}

.RegistroUsuario .camposRegistro .icono_campo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 15px;
  height: 9%;
  width: 100%;
}

.RegistroUsuario .camposRegistro .icono_campo i {
  position: absolute;
  left: 5px;
  color: #343438;
  font-size: 30px;
}

.RegistroUsuario .camposRegistro .icono_campo textarea {
  padding-left: 2.45em;
  font-size: 16px;
  height: 125%;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 125%;
  min-height: 125%;
}

.RegistroUsuario .camposRegistro .boton_link {
  width: 25%;
  height: 100%;
}

.RegistroUsuario .camposRegistro .area_campo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.RegistroUsuario .camposRegistro .icono_campo_medio {
  width: 50%;
}

.RegistroUsuario .camposRegistro .campo_sexo {
  height: 100%;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RegistroUsuario .camposRegistro .campo_sexo span {
  font-size: 32px;
  color: #343438;
  margin-right: 6px;
}

.RegistroUsuario .camposRegistro .campo_sexo input {
  margin-right: 20px;
}

.RegistroUsuario .camposRegistro .campo_botones {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.RegistroUsuario .camposRegistro .campo_botones input {
  width: 20%;
}

.RegistroUsuario .camposRegistro .campo_con_links {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.RegistroUsuario .campo_link input {
  padding-right: 32px;
}

.RegistroUsuario .campo_link #google_maps_link {
  position: absolute;
  right: 0%;
  font-size: 30px;
  color: #343438;
}

.RegistroUsuario .campo_link #google_maps_link:hover {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  cursor: pointer;
  color: #4285f4;
}

.expand {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0%;
  padding: 0%;
  word-wrap: break-word;
}

body,
html {
  width: 100%;
  height: 100vh;
}

body {
  background: #fefefe;
}

body .content {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */