.boton {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  border: none;
}

.boton:hover {
  cursor: pointer;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.btn-azul {
  color: #fefefe;
  background: #4285f4;
}

.btn-verde {
  color: #fefefe;
  background: #0f9d58;
}

.btn-rojo {
  color: #fefefe;
  background: #db4437;
}

.btn-blanco {
  color: #1c2022;
  background: #fefefe;
  border: 1px solid #343438;
}

.link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  border: none;
}

.link:hover {
  cursor: pointer;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.unavailable {
  opacity: 50%;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.unavailable:hover {
  cursor: auto;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.casilla_azul {
  background: #b2d6ef;
}

.casilla_rosa {
  background: #f9d2de;
}

.campo_completo {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #1c2022;
  font-size: 18px;
  color: #343438;
  padding-left: 2.2em;
}

.texto-azul {
  color: #4285f4;
  font-weight: 500;
}

.casilla_gris {
  background: #7070704b;
}

header {
  padding-top: 5px;
  width: 100%;
  height: 20%;
}

header .cabecera_busqueda {
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .cabecera_busqueda .input_icono {
  width: 50%;
  height: 100%;
  position: relative;
}

header .cabecera_busqueda .input_icono #buscar_usuario {
  width: 100%;
  height: 100%;
  border: 1px solid #1c2022;
  padding-left: 35px;
  color: #343438;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
}

header .cabecera_busqueda .input_icono .material-icons {
  position: absolute;
  left: 5px;
  top: 0.35em;
  color: #4285f4;
  font-size: 26px;
}

header .cabecera_busqueda .button_busqueda {
  width: 10%;
  height: 100%;
  position: relative;
}

header .cabecera_botones {
  height: 65%;
}

header .cabecera_botones ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .cabecera_botones ul li {
  height: 65%;
  list-style: none;
  width: 18%;
}

main {
  width: 100%;
  height: 80%;
  background: #f1f1f1;
}

main .contenedor_titulos,
main tbody {
  background: #f1f1f1;
  border-collapse: collapse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 11%;
  padding: 0 0px;
  overflow: auto;
  width: 100%;
}

main .contenedor_titulos .titulos_cabecera,
main tbody .titulos_cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 40px -13px #343438;
          box-shadow: 0 2px 40px -13px #343438;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

main .contenedor_titulos .titulos_cabecera .sexo,
main tbody .titulos_cabecera .sexo {
  width: 5%;
}

main .contenedor_titulos .titulos_cabecera th,
main tbody .titulos_cabecera th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  height: 100%;
  width: 12%;
  line-height: 100%;
}

main .contenedor_titulos .titulos_cabecera th .reducido,
main tbody .titulos_cabecera th .reducido {
  font-weight: 500;
}

main .contenedor_usuarios,
main tbody {
  background: #f1f1f1;
  border-collapse: collapse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0 0px;
  overflow: auto;
  width: 100%;
}

main .contenedor_usuarios .titulos_cabecera,
main tbody .titulos_cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 40px -13px #343438;
          box-shadow: 0 2px 40px -13px #343438;
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
}

main .contenedor_usuarios .titulos_cabecera .sexo,
main tbody .titulos_cabecera .sexo {
  width: 5%;
}

main .contenedor_usuarios .titulos_cabecera th,
main tbody .titulos_cabecera th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  height: 100%;
  width: 12%;
  line-height: 100%;
}

main .contenedor_usuarios .titulos_cabecera th .reducido,
main tbody .titulos_cabecera th .reducido {
  font-weight: 500;
}

main .contenedor_usuarios .contenedor_informacion_usuario,
main tbody .contenedor_informacion_usuario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 12%;
  width: 100%;
  border-radius: 15px;
  background: #fefefe;
  -webkit-box-shadow: -2px 8px 28px -16px rgba(0, 0, 0, 0.75);
          box-shadow: -2px 8px 28px -16px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
}

main .contenedor_usuarios .contenedor_informacion_usuario .campo_informacion,
main tbody .contenedor_informacion_usuario .campo_informacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: auto;
  padding: 1px;
  text-align: center;
  width: 12%;
}

main .contenedor_usuarios .contenedor_informacion_usuario .campo_iconos,
main tbody .contenedor_informacion_usuario .campo_iconos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contenedor_usuarios .contenedor_informacion_usuario .ubicacion a,
main tbody .contenedor_informacion_usuario .ubicacion a {
  text-decoration: none;
  color: #4285f4;
  font-weight: 500;
}

main .contenedor_usuarios .contenedor_informacion_usuario .ubicacion a:hover,
main tbody .contenedor_informacion_usuario .ubicacion a:hover {
  text-decoration: underline;
}

main .contenedor_usuarios .contenedor_informacion_usuario .sexo,
main tbody .contenedor_informacion_usuario .sexo {
  border-radius: 15px 0 0 15px;
  width: 5%;
  overflow: hidden;
}

main .contenedor_usuarios .contenedor_informacion_usuario .sexo i,
main tbody .contenedor_informacion_usuario .sexo i {
  font-size: 54px;
  color: #1c2022;
}

.RegistroUsuario {
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
}

.RegistroUsuario .cerrar {
  position: absolute;
  top: 15px;
  background: #343438;
  font-size: 34px;
  border-radius: 50%;
  color: #fefefe;
}

.RegistroUsuario .cerrar:hover {
  cursor: pointer;
  background: #db4437;
}

.RegistroUsuario .camposRegistro {
  width: 70%;
  height: 80%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #f1f1f1;
}

.RegistroUsuario .camposRegistro .icono_campo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 15px;
  height: 10%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RegistroUsuario .camposRegistro .icono_campo i {
  position: absolute;
  left: 5px;
  color: #343438;
  font-size: 30px;
}

.RegistroUsuario .camposRegistro .icono_campo textarea {
  padding-left: 2.45em;
  font-size: 16px;
  height: 125%;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 125%;
  min-height: 125%;
}

.RegistroUsuario .camposRegistro .boton_link {
  width: 25%;
  height: 100%;
}

.RegistroUsuario .camposRegistro .area_campo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.RegistroUsuario .camposRegistro .icono_campo_medio {
  width: 50%;
}

.RegistroUsuario .camposRegistro .campo_sexo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.RegistroUsuario .camposRegistro .campo_sexo i {
  margin-right: 6px;
}

.RegistroUsuario .camposRegistro .campo_sexo input {
  margin-right: 20px;
}

.RegistroUsuario .camposRegistro .campo_botones {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.RegistroUsuario .camposRegistro .campo_botones input {
  width: 20%;
}

.expand {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.swal-button {
  background-color: #db4437;
  color: #fefefe;
}

.swal-button:hover {
  background-color: #db4437;
  color: #fefefe;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0%;
  padding: 0%;
  word-wrap: break-word;
}

body,
html {
  width: 100%;
  height: 100vh;
}

body {
  background: #fefefe;
}

body .content {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */